#! /bin/bash
export CONFLUENT_CLOUD_BOOTSTRAP_SERVERS='${ccloud_kafka_bootstrap_url}'
export SERVICE_ACCOUNT_API_KEY="${kafka_api_key}"
export SERVICE_ACCOUNT_API_KEY_SECRET="${kafka_api_secret}"
export CONFLUENT_CLOUD_SCHEMA_REGISTRY_ENDPOINT='${ccloud_sr_url}'
export CONFLUENT_CLOUD_SCHEMA_REGISTRY_CREDENTIALS='{ccloud_sr_api_key}:{ccloud_sr_api_secret}'
export CONNECTOR_NAME='azure-blob-sink'