---
apiVersion: platform.confluent.io/v1beta1
kind: KafkaTopic
metadata:
  name: mse.pageviews
  namespace: confluent
spec:
  replicas: 3
  partitionCount: 1
  configs:
    message.timestamp.type: "LogAppendTime"
  kafkaRest:
    endpoint: ${ccloud_kafka_rest_url}
    kafkaClusterID: ${ccloud_kafka_cluster_id}
    authentication:
      type: basic
      basic:
        secretRef: ccloud-credentials-basic
